<%- include('partials/header') -%>
<div class="card flex-auto mx-1 bg-base-100 shadow-xl">
    <div class="card-body items-center text-center w-full">
        <h2 class="card-title">Add Recipe</h2>
        <div class="mt-5 w-1/2">
            <form action="/recipe/createRecipe" enctype="multipart/form-data" method="POST">
                <div class="form-control w-full ">
                    <label class="input-group mx-1">
                        <span>Title</span>
                        <input type="text" class="input input-bordered w-full text-neutral-content placeholder-base-content" name="title" placeholder="Deligthful Name"/>
                    </label>
                    <div class="ingredientsParent">
                        <label class="input-group input-group-vertical my-1">
                            <span class="flex justify-center">Ingredients</span>
                        </label>
                        <div class="input-group flex place-content-center my-px">
                            <input type="text" class="input input-bordered w-full text-neutral-content placeholder-base-content" name="ingredients" placeholder="2 Cups of Water">
                            <span class="btn flex justify-center" onclick="addField(this)">+</span>
                            <span class="btn flex justify-center" onclick="removeField(this)" style="display: none">-</span>
                        </div>
                    </div>                    
                    <label class="reference input-group my-1">
                        <span>Walktrough</span>
                        <textarea class="textarea textarea-bordered w-full text-neutral-content placeholder-base-content" name="walkthrough" placeholder="Do This, This and That"></textarea>
                    </label>

                    <label class="input-group my-1">
                        <span>Tips</span>
                        <textarea class="textarea textarea-bordered w-full text-neutral-content placeholder-base-content" name="tips" placeholder="Don't Forget to Grease the Pan"></textarea>
                    </label>

                    <label class="input-group my-1">
                        <span>Prep. Time</span>
                        <input type="number" class="input input-bordered w-full text-neutral-content placeholder-base-content" name="prepTime" placeholder="In Minutes (Numbers Only)"/>
                        <span>Minutes</span>
                    </label>

                    <label class="input-group my-1">
                        <span>Servings</span>
                        <input type="number" class="input input-bordered w-full text-neutral-content placeholder-base-content" name="portions" placeholder="(Numbers Only)"/>
                    </label>

                    <label for="imgUpload" class="input-group input-group-vertical my-4 w-full">
                        <span>Photo</span>
                        <input type="file" class="file-input-primary file-input file-input-bordered w-full text-neutral-content placeholder-base-content"
                            id="imageUpload" name="file" />
                    </label>
                </div>
                <button type="submit" class="flex-auto btn btn-outline btn-accent btn-lg">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>