<%- include('partials/header') -%>
<div class="flex">
<section class="w-1/2 inline-block">
<div class="flex justify-around">
  <div class="card flex-auto mx-1 bg-neutral shadow-xl items-center text-center">
      <h2 class="card-title"><%= user.userName %></h2>
    <!-- <figure class="px-10 pt-10">
      <img src="" alt="Featured Recipe" class="rounded-xl" />
    </figure> -->
      <h2 class="card-title">About Me:</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae libero, sint minus molestias ducimus temporibus.</p>
  </div>
</section>
<section class="userRecipes w-1/2 inline-block">
  <div class="flex justify-around">
    <div class="card flex-auto mx-1 bg-neutral shadow-xl items-center text-center">
        <h2 class="card-title"><%= user.userName %>`s Recipes</h2>
    </div>
</section>
</div>
<script src="../public/js/script.js"></script>
<%- include('partials/footer') -%>
