<%- include('partials/header') -%>
<main class="container">
  <div class="hero min-h-screen w-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Cadastre-se!</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body flex">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el=> {
          %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el=> { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <form action="/signup" method="POST">
            <div class="form-control">
              <label for="userName" class="form-label">Nome de Usuário</label>
              <input
                type="text"
                class="input input-bordered"
                id="userName"
                name="userName"
              />
            </div>
            <div class="form-control">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="input input-bordered"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
              <div id="emailHelp" class="text-center text-xs">
                Nunca compartilharemos seu email
              </div>
            </div>
            <div class="form-control">
              <label for="password" class="form-label">Senha</label>
              <input
                type="password"
                class="input input-bordered"
                id="password"
                name="password"
              />
            </div>
            <div class="form-control">
              <label for="confirmPassword" class="form-label"
                >Confirmar Senha</label
              >
              <input
                type="password"
                class="input input-bordered"
                id="confirmPassword"
                name="confirmPassword"
              />
            </div>
            <div class="flex mt-6">
              <button
                type="submit"
                class="flex-auto btn btn-outline btn-primary btn-lg"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>
